In [7]:
import pandas as pd
import numpy as np

import matplotlib
import seaborn
import matplotlib.dates as md
from matplotlib import pyplot as plt

from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import datetime
import time
import re

file_name = "data/data_asset_choosed/487_100/487_0.csv"
df_asset = pd.read_csv(file_name,parse_dates=[1])
df_asset.head(100)

,asset,recorded_at,MDI_OBD_SPEED,GPS_SPEED,MDI_OBD_RPM,MDI_OBD_ENGINE_LOAD,MDI_OBD_FUEL,ODO_FULL_METER,MDI_DASHBOARD_MILEAGE,distance,delay,fuel,filled
0,487,2017-10-01 13:43:29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
1,487,2017-10-01 13:43:36,NaN,916.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:07,NaN,False
2,487,2017-10-01 13:43:41,NaN,660.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:05,NaN,True
3,487,2017-10-01 13:43:43,NaN,1058.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:02,NaN,True
4,487,2017-10-01 13:43:49,NaN,1921.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:06,NaN,True
5,487,2017-10-01 13:43:53,NaN,1360.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:04,NaN,True
6,487,2017-10-01 13:43:59,NaN,780.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:06,NaN,True
7,487,2017-10-01 13:44:05,NaN,1635.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:06,NaN,True
8,487,2017-10-01 13:44:07,NaN,6369.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:02,NaN,True
9,487,2017-10-01 13:44:15,NaN,5240.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:08,NaN,True
10,487,2017-10-01 13:44:21,NaN,1135.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:06,NaN,True
11,487,2017-10-01 13:44:25,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:04,NaN,True
12,487,2017-10-01 13:44:35,NaN,436.0,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:00:10,NaN,True