In [11]:
import pandas as pd
import numpy as np

import matplotlib
import seaborn
import matplotlib.dates as md
from matplotlib import pyplot as plt

from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans

import datetime
import time
import re

file_name = "data/data_asset_choosed/487_1000/487_2.csv"
df_asset = pd.read_csv(file_name,parse_dates=[1])
df_asset.head(10)

,asset,recorded_at,MDI_OBD_SPEED,GPS_SPEED,MDI_OBD_RPM,MDI_OBD_ENGINE_LOAD,MDI_OBD_FUEL,ODO_FULL_METER,MDI_DASHBOARD_MILEAGE,distance_meter,speed_filled,meter_filled,avrg_speed,distance_speed,distance_cum,delay,fuel
0,487,2017-10-01 16:55:21,40.0,22201.0,1261.0,33.0,3187530.0,3259936.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,487,2017-10-01 16:55:32,86.0,44947.0,2447.0,100.0,3187632.0,3260076.0,NaN,NaN,86.0,3260076.0,40.000,262.777778,262.777778,11.0,NaN
2,487,2017-10-01 16:55:33,87.0,46250.0,NaN,NaN,3187640.0,NaN,NaN,NaN,87.0,3260076.0,63.000,24.166667,286.944444,1.0,8.0
3,487,2017-10-01 16:55:35,89.0,46805.0,NaN,NaN,3187656.0,3260187.0,NaN,111.0,89.0,3260187.0,71.000,49.444444,336.388889,2.0,16.0
4,487,2017-10-01 16:55:37,87.0,46617.0,2055.0,NaN,3187672.0,NaN,NaN,NaN,87.0,3260187.0,75.500,48.333333,384.722222,2.0,16.0
5,487,2017-10-01 16:55:38,NaN,46743.0,NaN,NaN,3187680.0,NaN,NaN,NaN,87.0,3260187.0,77.800,24.166667,408.888889,1.0,8.0
6,487,2017-10-01 16:55:39,88.0,46860.0,NaN,NaN,3187688.0,NaN,NaN,NaN,88.0,3260187.0,77.800,24.444444,433.333333,1.0,8.0
7,487,2017-10-01 16:55:40,90.0,47371.0,NaN,NaN,3187696.0,3260305.0,NaN,118.0,90.0,3260305.0,79.500,25.000000,458.333333,1.0,8.0
8,487,2017-10-01 16:55:42,92.0,48678.0,2153.0,NaN,3187712.0,NaN,NaN,NaN,92.0,3260305.0,81.000,51.111111,509.444444,2.0,16.0
9,487,2017-10-01 16:55:43,93.0,48869.0,NaN,NaN,3187720.0,NaN,NaN,NaN,93.0,3260305.0,82.375,25.833333,535.277778,1.0,8.0